<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de series</title>
</head>
<nav class="navbar text-bg-dark">
    <div class="container-fluid bg-dark">
        <a class="navbar-brand text-light" href="../inicio.html">
            Acervo Magico
        </a>
        <a class="text-light btn btn-outline-light" href="\inicio.html">Voltar</a>
    </div>
</nav>

<body>
    <h2>Registar</h2>
    <form action="/show" method="POST">
        <input type="imagem" placeholder="imagem" name="img">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="descricao" name="descricao">
        <button type="submit">Submit</button>
    </form>

</body>
<!-- JavaScript Bundle with Popper -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<!-- CSS only -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</html>